<div class="container clearfix">
  
  <div class="chat">
    <div class="chat-header clearfix">
      <img src="../../assets/FACE.png" alt="avatar" class="avatar"/>
      <div class="chat-about">
        <div class="chat-with">Chat with Aurora</div>
        <div class="chat-num-messages">already {{numberoOfMessages}} messages</div>
      </div>
    </div> <!-- end chat-header -->
    
    <div class="chat-history">
      <ul>
        <li *ngFor="let c of chat" class="clearfix">
          <div *ngIf="c.sender != name" id="received">
              <div class="message-data align-right">
                <span class="message-data-time" >{{c.time}}, {{c.date}}</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{c.sender}}</span> <i class="fa fa-circle me"></i>
                
              </div>
              <div class="message other-message float-right">
                {{c.message}}
              </div>
          </div>
          <div *ngIf="c.sender == name" id="sent">
              <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> {{c.sender}}</span>
                <span class="message-data-time">{{c.time}}, {{c.date}}</span>
              </div>
              <div class="message my-message">
                {{c.message}}
              </div>
          </div>
        </li>
      </ul>
      
    </div> <!-- end chat-history -->
    
    <div class="chat-message clearfix">
      <textarea [(ngModel)]="userMessage" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
              
      <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i>
      
      <button (click)="reply(userMessage)">Send</button>

    </div> <!-- end chat-message -->
    
  </div> <!-- end chat -->
  
</div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
<li class="clearfix">
  <div class="message-data align-right">
    <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
    <span class="message-data-name" >{{name}}</span> <i class="fa fa-circle me"></i>
  </div>
  <div class="message other-message float-right">
    {{messageOutput}}
  </div>
</li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
<li>
  <div class="message-data">
    <span class="message-data-name"><i class="fa fa-circle online"></i> Aurora</span>
    <span class="message-data-time">{{time}}, Today</span>
  </div>
  <div class="message my-message">
    {{response}}
  </div>
</li>
</script>
