<div class="container clearfix space">
  
  <div class="chat">
    <div class="chat-header clearfix">
      <img src="../../assets/FACE.png" alt="avatar" class="avatar"/>
      <div class="chat-about">
        <div class="chat-with">Chat with Aurora</div>
        <div class="chat-num-messages">already {{numberoOfMessages}} messages</div>
      </div>
    </div> <!-- end chat-header -->
    
    <div class="chat-history">
      <ul>
        <li *ngFor="let c of chat" class="clearfix">
          <div *ngIf="c.sender != name" id="received">
              <div class="message-data align-right">
                <span class="message-data-time" >{{c.time}}, {{c.date}}</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{c.sender}}</span> <i class="fa fa-circle me"></i>
                
              </div>
              <div class="message other-message float-right">
                {{c.message}}
              </div>
          </div>
          <div *ngIf="c.sender == name" id="sent">
              <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> {{c.sender}}</span>
                <span class="message-data-time">{{c.time}}, {{c.date}}</span>
              </div>
              <div class="message my-message">
                {{c.message}}
              </div>
          </div>
        </li>
      </ul>
    </div> <!-- end chat-history -->
    <div class="chat-message clearfix">
      <textarea [(ngModel)]="userMessage" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
      <button (click)="reply(userMessage)">Send</button>
    </div> <!-- end chat-message -->
  </div> <!-- end chat -->
</div> <!-- end container -->
