<div class="container">
  <div class="row">
  <div class="col-4" *ngIf="profile" id="sidebar">
    <div id="profile">
      <div id="head">
        <img src="{{profile.image}}" class="big-avatar"/>
        <h3>{{profile.name}}</h3>
      </div>
      <p id="profile-text">
        Estilo Musical: <span id="answer">{{profile.musicStyle}}</span> <br>
        Genero de Filmes: <span id="answer">{{profile.movieStyle}}</span> <br>
        Frequencia com que sai: <span id="answer">{{profile.goOut}}</span> <br>
        Relacionamento: <span id="answer">{{profile.relationship}}</span> <br>
        Estuda: <span id="answer">{{profile.study}}</span> <br>
        Trabalha: <span id="answer">{{profile.work}}</span> <br>
        Humor: <span id="answer">{{profile.mood}}</span> <br>
        Questões PHQ-9: <span id="answer">{{profile.phq9q}}</span> <br>
        Média PHQ-9: <span id="answer">{{profile.phq9a}}</span> <br>
        Questões WAI: <span id="answer">{{profile.waiq}}</span> <br>
        Média WAI: <span id="answer">{{profile.waia}}</span>
      </p>
      <p></p>
    </div>
    <div id="depression">
        <h4>{{profile.probability}} de chance de depressão</h4>
        <h5>O paciente está em depressão?</h5>
        <button type="button" class="btn btn-light">Sim</button>
        <button type="button" class="btn btn-light">Não</button></div>
    </div>
  <div class="col-8" id="chat">
      <div class="chat">
          <div class="chat-header clearfix">
            <img src="../../assets/FACE.png" alt="avatar" class="avatar"/>
            <div class="chat-about">
              <div class="chat-with">Chat with Aurora</div>
              <div class="chat-num-messages">already {{numberoOfMessages}} messages</div>
            </div>
          </div> <!-- end chat-header -->
          
          <div class="chat-history">
            
      <ul>
          <li *ngFor="let c of chat" class="clearfix">
            <div *ngIf="c.sender != name" id="received">
                <div class="message-data align-right">
                  <span class="message-data-time" >{{c.time}}, {{c.date}}</span> &nbsp; &nbsp;
                  <span class="message-data-name" >{{c.sender}}</span> <i class="fa fa-circle me"></i>
                  
                </div>
                <div class="message other-message float-right">
                  {{c.message}}
                </div>
            </div>
            <div *ngIf="c.sender == name" id="sent">
                <div class="message-data">
                  <span class="message-data-name"><i class="fa fa-circle online"></i> {{c.sender}}</span>
                  <span class="message-data-time">{{c.time}}, {{c.date}}</span>
                </div>
                <div class="message my-message">
                  {{c.message}}
                </div>
            </div>
          </li>
        </ul>
          </div> <!-- end chat-history -->
        </div> <!-- end chat -->
  </div>
  </div>
</div>